{{- $dest := .Destination -}}
{{- if and (not (hasPrefix $dest "http")) (not (hasPrefix $dest "/")) -}}
  {{- if hasPrefix $dest "_assets/" -}}
    {{- $base := index (split (trim .Page.RelPermalink "/") "/") 0 -}}
    {{- $dest = printf "/%s/%s" $base $dest -}}
  {{- end -}}
{{- end -}}
{{- $videoExts := slice "mp4" "webm" "ogg" "mov" "avi" -}}
{{- $ext := lower (strings.TrimPrefix "." (path.Ext .Destination)) -}}
{{- if in $videoExts $ext -}}
<video controls style="max-width:100%"><source src="{{ $dest | safeURL }}" type="video/{{ $ext }}"></video>
{{- else if .Text -}}
<figure><img src="{{ $dest | safeURL }}" alt="{{ .Text }}"{{ with .Title }} title="{{ . }}"{{ end }}><figcaption>{{ .Text }}</figcaption></figure>
{{- else -}}
<img src="{{ $dest | safeURL }}" alt=""{{ with .Title }} title="{{ . }}"{{ end }}>
{{- end -}}
